* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(236, 99, 99)

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;

}

.container {
    padding: 1rem;
    font-size: 0.8rem;
}

.date {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: rgb(236, 99, 99)
}

.main-container {    
    width: 35%;
    height: auto;
    background-color: rgb(216, 218, 230);
    margin: auto;
    border: 1px solid rgb(55, 55, 58);
    border-radius: 0.4rem;


}

.todo-input {
    border: 1px solid rgb(44, 42, 42);
    border-radius: 0.2rem;
    padding: 0.3rem 1rem;
    width: 85%;
}

.add-todo {
    float: right;
    border: 1px solid rgb(44, 42, 42);
    border-radius: 0.2rem;
    padding: 0.3rem 0;
    text-align: center;
    width: 13%;
    background-color: grey;
}

.todo:hover .delete-button {
    display: inline-block;
    float: right;
    margin-top: 0;
    border: 1px solid rgb(44, 42, 42);
    border-radius: 0.2rem;
    text-align: center;
    width: 13%;
    height: 100%;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;

}

.todo .delete-button {
    display: none;
}

.add-todo:hover {
    cursor: pointer;
    background-color: rgb(106, 106, 235);
}

.todo {
    border: 1px solid rgb(55, 55, 58);
    background-color: rgba(207, 195, 191, 0.815);
    border-radius: 0.2rem;
    padding: 0.5rem 0.3rem;
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
    color: rgb(44, 44, 44);
}

